:host { 
    display: block;
    padding: 16px 16px 16px 10px;
    background-color: white;
 }

 input {
   display: inline-block;
   font-size: 18px;
   border: none;
 }

 input.focus, button.focus {
   outline: none;
 }

 button {
   width: 24px;
   height: 24px;
   border-radius: 24px;
   font-size: 16px;
   line-height: 17px;
   border: 1px solid dimgray;
   background-color: darkblue;
   color: white;
 }