.title {
    background-color: salmon;
    padding: 46px 26px 26px 16px;
    color: white;
    font-weight: normal;
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

h1 {
    margin-bottom: 16px;
}

.routers {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
}
.routers a {
    padding-left: 20px;
    padding-right: 20px;
}